<form name="contactForm" ng-submit="ContactEditor.submitForm()" novalidate>
    <!-- NAME -->
    <div class="form-group" ng-class="{ 'has-error' : contactForm.name.$invalid && !contactForm.name.$pristine }">
        <label>First Name</label>
        <input type="text" name="name" class="form-control" ng-model="ContactEditor.contact.name" required>
        <p ng-show="contactForm.name.$invalid && !contactForm.name.$pristine" class="help-block">First name is required.</p>
    </div>

    <!-- SURNAME -->
    <div class="form-group" ng-class="{ 'has-error' : contactForm.surname.$invalid && !contactForm.surname.$pristine }">
        <label>Last Name</label>
        <input type="text" name="surname" class="form-control" ng-model="ContactEditor.contact.surname" required>
        <p ng-show="contactForm.surname.$invalid && !contactForm.surname.$pristine" class="help-block">Last name is required.</p>
    </div>

    <!-- EMAIL -->
    <div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="ContactEditor.contact.email">
        <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block">Enter a valid email.</p>
    </div>

    <!-- ADDRESS -->
    <div class="form-group">
        <label>Address</label>
        <input type="text" name="address" class="form-control" ng-model="ContactEditor.contact.address">
    </div>

    <!-- CITY -->
    <div class="form-group">
        <label>City</label>
        <input type="text" name="city" class="form-control" ng-model="ContactEditor.contact.city">
    </div>

    <!-- ZIP-CODE -->
    <div class="form-group" ng-class="{ 'has-error' : contactForm.zip.$invalid && !contactForm.zip.$pristine }">
        <label>Zip code</label>
        <input type="text" name="zip" class="form-control" ng-pattern="/^\d{5}$/" ng-model="ContactEditor.contact.zip" required>
        <p ng-show="contactForm.zip.$invalid && !contactForm.zip.$pristine" class="help-block">Enter a valid zip code.</p>
    </div>

    <!-- COUNTRY -->
    <div class="form-group" ng-class="{ 'has-error' : contactForm.zip.$invalid && !contactForm.zip.$pristine }">
        <countries-select ng-model="ContactEditor.contact.country" label="Country" name="country" country-items="contacts.countries"></countries-select>
    </div>

    <button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid">Submit</button>
</form>
