<section flex layout="row" id="main-addressbook">
    <md-sidenav  md-component-id="left" md-is-open="AddressBook.showList"  md-is-locked-open="$mdMedia('gt-xs')" class="md-whiteframe-z2">
        <div ui-view="leftArea"></div>
        <md-button id="add-new-btn" class="md-fab md-warn" aria-label="Add" ui-sref="addressbook.add">
            <ng-md-icon icon="person_add"></ng-md-icon>
        </md-button>
    </md-sidenav>
    <md-content  flex class="right-section">
        <div ui-view="rightArea"></div>
    </md-content>
</section>