<md-toolbar class="md-theme-indigo">
    <div class="md-toolbar-tools">
        <md-button hide-gt-xs ng-click="AddressBook.back()" class="md-icon-button" aria-label="Back">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
        </md-button>
        <h1 class="md-toolbar-tools">Address Book</h1>
    </div>
</md-toolbar>
<md-content flex="" layout-padding="">
    <div layout="column" layout-fill="" layout-align="top center">
        <p>Choosing one of the contacts from the list on the left, you'll be able to view or edit the details.</p>
        <p>You can create a new contact by pressing the red plus button at the bottom of the page</p>
    </div>
</md-content>