<md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Contacts</h1>
</md-toolbar>
<md-list>
    <md-list-item ng-repeat="contact in AddressBook.contacts | orderBy:['name','surname'] track by contact.id"
                  ng-click="AddressBook.view(contact.id)">
        <md-button class="md-fab md-mini {{contact.gender | lowercase}}" md-no-ink="true" aria-label="See details">
            {{contact.name | limitTo:1 }}{{contact.surname  | limitTo:1}}
        </md-button>
        {{contact.fullName()}}
    </md-list-item>
</md-list>